* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(0, 7, 41);
}

.navigation {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  position: sticky;
}

.title {
  color: orangered;
  font-size: 30px;
  background-color: black;
}

.sub-title {
  color: orange;
  font-size: 22px;
  background-color: black;
}

.login {
  background-color: rgb(3, 165, 3);
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.dot {
  font-weight: bolder;
  color: white;
  font-size: 22px;
  background-color: black;
}

.io {
  color: rgb(3, 165, 3);
  font-size: 22px;
  background-color: black;
}
  
.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.sub-heading {
  color: white;
  margin-top: 20px;
  font-weight: lighter;
  letter-spacing: 2;
}

.data-entry {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.fill,
#fill {
  width: 350px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: rgb(3, 3, 58);
  font-weight: bolder;
  background-color: white;
  margin-bottom: 20px;
  border: none;
}

.fill-title {
  margin-bottom: 10px;
  color: rgb(3, 165, 3);
}

.next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.next-previous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.next-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(236, 65, 94);
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

.previous-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(3, 165, 3);
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 9px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 140px;
}

.opts {
  background-color: white;
  width: 350px;
}

#hello {
  display: none;
}

.warn {
  margin-top: 100;
  justify-content: center;
  align-items: center;
}

.warnTitle {
  color: red;
  font-size: 30;
  font-weight: bold;
}

.error {
  font-weight: "bold";
  font-size: 30;
  text-align: center;
  margin-top: 50;
  color: red;
}

.userName {
  color: white;
}

.mainDetails {
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.detailsHeading {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.details {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  display: flex;
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.super {
  color: white;
  font-weight: bold;
  font-size: 18px;
}